@font-face {
	font-family: 'SFProDisplay-Bold';
	src: url('../fonts/SFProDisplay-Bold.woff2') format('woff2'),
		url('../fonts/SFProDisplay-Bold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'SFProDisplay-Ultralight';
	src: url('../fonts/SFProDisplay-Ultralight.woff2') format('woff2'),
		url('../fonts/SFProDisplay-Ultralight.woff') format('woff');
	font-display: swap;
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'SFUIDisplay-Regular';
	src: url('../fonts/SFUIDisplay-Regular.woff2') format('woff2'),
		url('../fonts/SFUIDisplay-Regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
